<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Fuel Tracker Master about this app at this
  <a href="http://www.google.ca?q=go+fuck+yourself#q=go+fuck+yourself">contact page</a>.
</p>