<footer class="footer">
  <small>
    <a href="http://www.google.ca?q=Sean+White#q=Sean+White/">Fuel Tracker</a>
    by Sean White
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>